# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu126 --no-cache-dir

ultralytics
pandas
matplotlib
opencv-python
openpyxl
PyQt5
pyTelegramBotAPI
requests
tqdm
beautifulsoup4
html5lib
httpx
httpcore
pyinstaller
